.app {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.center-text {
  text-align: center;
}

.hide-desktop {
  @media screen and ((min-width: 1024px) or (pointer: rough)) {
    display: none;
  }
}

.alert {
  background-color: #f91880bf;
  border-radius: 1rem;
  margin: 0.5rem 0;
  padding: 0.25rem;

  .alert-title {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    margin-top: 1rem;
  }
}

.search-form {
  display: flex;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    Inter,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif,
    " Apple Color Emoji",
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  gap: 0rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.search {
  border: none;
  border-radius: 5rem 0 0 5rem;
  border-right: none;
  max-width: 500px;
  padding: 0.75rem;
  width: 80vw;
}

.search-button {
  aspect-ratio: 1 / 1;
  background-color: var(--color-fg);
  border: none;
  border-left: none;
  border-radius: 0 5rem 5rem 0;
  color: var(--color-button);
  transition: background-color 0.1s;

  &:hover {
    background-color: var(--color-button);
    color: var(--color-fg);
    cursor: pointer;
  }
}

.options-editor {
  display: flex;

  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;

  .option {
    display: flex;
    flex-direction: column;

    select {
      appearance: none;

      /* stylelint-disable-next-line property-disallowed-list */
      background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
        no-repeat;
      background-color: #15202b;
      background-position: calc(100% - 0.75rem) center;
      border: 0;
      border-radius: 0.25rem;
      color: white;
      padding: 0.5rem 2rem 0.5rem 1rem;
    }
  }

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.toot {
  border-radius: 1rem;
}

.render-button {
  background-color: #6364ff;
  border: 0;
  border-radius: 5rem;
  color: var(--color-fg);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    Inter,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif,
    " Apple Color Emoji",
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  padding: 7px 18px;
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-button);
    cursor: pointer;
  }
}

.gradient-box {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}

.gradient {
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc5c7d, #6a82fb);

  @media screen and (max-width: 1024px) {
    background: transparent;
  }
}

.handlebar {
  position: absolute;
  touch-action: none;
  z-index: 1000;

  &.left {
    left: -4px;
    top: calc(50% - 8px);

    svg {
      &:hover {
        cursor: e-resize;
      }
    }
  }

  &.right {
    right: -4px;
    top: calc(50% - 8px);

    svg {
      &:hover {
        cursor: e-resize;
      }
    }
  }

  &.top {
    left: 50%;
    top: -12px;

    svg {
      &:hover {
        cursor: n-resize;
      }
    }
  }

  &.bottom {
    bottom: -12px;
    left: 50%;

    svg {
      &:hover {
        cursor: n-resize;
      }
    }
  }

  svg {
    color: white;
    touch-action: none;
    transition: all 0.2s;

    &.active {
      color: var(--color-button);
      transform: scale(2);
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.commit-link {
  color: #6364ff;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: var(--color-button);
  }
}
