#root {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.center-text {
  text-align: center;
}

.hide-desktop {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.alert {
  border-radius: 1rem;
  background-color: #f91880bf;
  padding: 0.25rem;
  margin: 0.5rem 0;

  .alert-title {
    margin-top: 1rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
  }
}

.search-form {
  display: flex;
  gap: 0rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.search {
  padding: 0.75rem;

  width: 80vw;
  max-width: 500px;
  border: none;
  border-right: none;
  border-radius: 5rem 0 0 5rem;
}

.search-button {
  background-color: var(--color-fg);
  color: var(--color-button);
  transition: background-color 0.1s;

  border: none;
  border-left: none;
    border-radius: 0 5rem 5rem 0;
  aspect-ratio: 1/1;

  &:hover {
    background-color: var(--color-button);
    color: var(--color-fg);
    cursor: pointer;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.toot {
  border-radius: 1rem;
}

.render-button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5rem;
  color: var(--color-fg);
  font-weight: 500;
  font-size: 1.25rem;
  background-color: #6364ff;

  transition: all .2s;

  &:hover {
    background-color: var(--color-button);
    cursor: pointer;
  }
}

.gradient-box {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;  
}

.gradient {
  background: #fc5c7d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc5c7d, #6a82fb);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc5c7d, #6a82fb);

  @media screen and (max-width: 1024px) {
    background: transparent;
  }
}

.handlebar {

  position: absolute;
  z-index: 1000;
  touch-action: none;
  
  &.left {
    top: calc(50% - 8px);
    left: -4px;

    svg {
        &:hover {
          cursor: e-resize;
        }
      }
  }

  &.right {
    top: calc(50% - 8px);
    right: -4px;

    svg {
        &:hover {
          cursor: e-resize;
        }
      }
  }

  &.top {
    left: 50%;
    top: -12px;

    svg {
        &:hover {
          cursor: n-resize;
        }
      }
  }
  
  &.bottom {
    left: 50%;
    bottom: -12px;
    
    svg {
      &:hover {
        cursor: n-resize;
      }
    }
  }

  svg {
    transition: all .2s;
    touch-action: none;
    color: white;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    &.active {
      transform: scale(2);
      color: var(--color-button);
    }
  }
}

.commit-link {
  color: #6364ff;
  text-decoration: none;
  transition: all .2s;

  &:hover {
    color: var(--color-button);
  }
}