:root {
  --color-bg: #232543;
  --color-fg: #f7f9f9;
  --color-button: #858afa;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, Inter, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  line-height: 1.5;
}

