/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("/roboto-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.theme-mastodon,
.theme-mastodon-light,
.theme-mastodon-white-interactions {
  $font-stack: roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    Inter,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    noto,
    arial,
    sans-serif,
    " Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  $line-height: 22px;
  $message-gap: 12px;
  $avatar-size: 48px;
  $icon-boost: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='18px' fill='%23606984' stroke='%23606984' stroke-width='4rem' viewBox='-96 224 2240 1472'%3E%3Cpath d='M1344 1504q0 13-9.5 22.5t-22.5 9.5h-960q-8 0-13.5-2t-9-7-5.5-8-3-11.5-1-11.5v-600h-192q-26 0-45-19t-19-45q0-24 15-41l320-384q19-22 49-22t49 22l320 384q15 17 15 41 0 26-19 45t-45 19h-192v384h576q16 0 25 11l160 192q7 10 7 21zm640-416q0 24-15 41l-320 384q-20 23-49 23t-49-23l-320-384q-15-17-15-41 0-26 19-45t45-19h192v-384h-576q-16 0-25-12l-160-192q-7-9-7-20 0-13 9.5-22.5t22.5-9.5h960q8 0 13.5 2t9 7 5.5 8 3 11.5 1 11.5v600h192q26 0 45 19t19 45z'%3E%3C/path%3E%3C/svg%3E");
  $icon-reply: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='18px' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cstyle%3Esvg%7Bfill:%23606984%7D%3C/style%3E%3Cpath d='M205 34.8c11.5 5.1 19 16.6 19 29.2v64H336c97.2 0 176 78.8 176 176c0 113.3-81.5 163.9-100.2 174.1c-2.5 1.4-5.3 1.9-8.1 1.9c-10.9 0-19.7-8.9-19.7-19.7c0-7.5 4.3-14.4 9.8-19.5c9.4-8.8 22.2-26.4 22.2-56.7c0-53-43-96-96-96H224v64c0 12.6-7.4 24.1-19 29.2s-25 3-34.4-5.4l-160-144C3.9 225.7 0 217.1 0 208s3.9-17.7 10.6-23.8l160-144c9.4-8.5 22.9-10.6 34.4-5.4z'/%3E%3C/svg%3E");
  $icon-star: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='18px' viewBox='0 0 576 512'%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cstyle%3Esvg%7Bfill:%23606984%7D%3C/style%3E%3Cpath d='M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z'/%3E%3C/svg%3E");
  font-family: $font-stack;
  width: 600px;

  &.theme-mastodon {
    --color-bg: #313543;
    --color-text: #fff;
    --color-text-dim: #9baec8;
    --color-text-link: #8c8dff;
    --color-text-ultradim: #606984;
    --color-text-username: #fff;
    --color-interaction: var(--color-text-ultradim);
    --interaction-text-weight: 500;
    --color-border: #38384d;
    --color-hashtag: #d9e1e8;
  }

  &.theme-mastodon-white-interactions {
    --color-bg: #313543;
    --color-text: #f7f9f9;
    --color-text-dim: #9baec8;
    --color-text-link: #8c8dff;
    --color-text-ultradim: #606984;
    --color-text-username: #fff;
    --color-interaction: #d9e1e8;
    --interaction-text-weight: 700;
    --color-border: #38384d;
    --color-hashtag: #d9e1e8;
  }

  &.theme-mastodon-light {
    --color-bg: #fff;
    --color-text: #040404;
    --color-text-dim: #444b5d;
    --color-text-link: #5e64f8;
    --color-text-ultradim: #606984;
    --color-text-username: #000;
    --color-interaction: var(--color-text-ultradim);
    --interaction-text-weight: 500;
    --color-border: #38384d;
    --color-hashtag: #5e64f8;
  }

  .toot {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: block;
    gap: 0rem;
    max-width: calc(600px - 4rem);
    padding: 2rem;
    width: 100%;

    .profile {
      display: flex;
      gap: 0.75em;
      margin-bottom: 1rem;

      .display-name {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        min-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;

        strong {
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .emoji {
            height: 1em;
            margin: -1px 0 0;
            object-fit: contain;
            vertical-align: middle;
            width: 1em;
          }
        }

        .username {
          color: var(--color-text-username);
          height: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .avatar img {
        border-radius: 4px;
        height: $avatar-size;
        width: $avatar-size;
      }
    }

    .content {
      font-size: 19px;

      p {
        font-feature-settings: "kern";
        font-style: normal;
        font-weight: 400;
        line-height: $line-height;
        margin: 0;
        margin-bottom: 20px;
        text-rendering: optimizelegibility;
        text-size-adjust: none;
      }

      a {
        color: var(--color-text-link);
        text-decoration: none;
        unicode-bidi: isolate;
      }

      .emoji {
        height: 24px;
        margin: -1px 0 0;
        object-fit: contain;
        vertical-align: middle;
        width: 24px;
      }

      .invisible {
        display: none;
      }

      .ellipsis::after {
        content: "…";
      }

      .hashtag {
        color: var(--color-hashtag);
      }
    }

    // Notice! Image attachments are not inside content.
    .image-gallery {
      box-sizing: border-box;
      width: 100%;

      .attachment {
        border-radius: 8px;
        object-fit: cover;
        width: 100%;
      }
    }

    .action-bar {
      display: flex;
      margin-top: 12px;

      &.action-bar-hidden {
        display: none;
      }

      &.action-bar-feed {
        // Action bar is 568px wide, split to 5 (space-between)
        // -> 133.6, remove 50px (each buttons width)
        // -> 83.6px
        gap: 83.6px;

        .action-bar-datetime {
          display: none;
        }

        .action {
          color: var(--color-interaction);
          display: inline-flex;
          width: 50px;

          .icon-boost {
            content: $icon-boost;
          }

          .icon-reply {
            content: $icon-reply;
          }

          .icon-star {
            content: $icon-star;
          }

          .action-counter {
            display: inline-block;
            font-size: 12px;
            font-weight: var(--interaction-text-weight);
            margin-inline-start: 4px;
            margin-left: 4px;
          }

          .action-label {
            display: none;
          }
        }
      }

      &.action-bar-normal {
        font-size: 14px;
        gap: 6px;

        .action-bar-datetime {
          color: var(--color-text-ultradim);
        }

        &.no-replies {
          div:first-of-type {
            display: none;
          }
        }

        .action {
          color: var(--color-text-ultradim);
          display: inline-flex;
          gap: 4px;

          .action-counter {
            color: var(--color-text);
            font-weight: 500;
            margin-left: 4px;
          }

          &::before {
            align-items: center;
            content: "·";
            font-weight: 500;
            line-height: 18px;
          }
        }
      }
    }
  }
}
